<h1>Get Defination </h1>

<%= form_with scope: :fortytwoword, url:getdefination_fortytwoword_path ,local: true do |f| %>
<p>
<%= f.label :word, 'enter word' %> <br>
<%= f.text_field :word%>
</p>
<%=f.submit "Get Defination" %>
</p>
<% end %>