<h1><strong>Word Relation</strong></h1>


<%= form_with scope: :fortytwoword, url: getWordRelation_fortytwoword_path ,local: true do |f| %>
<p>
<%= f.label :word, 'enter word' %> <br>
<%= f.text_field :word%>
</p>
<%=f.submit "Get Words" %>
</p>
<% end %>